<main>
  <div class="card">
    <div class="header">
      <div class="flex">
        <mat-form-field appearance="fill">
          <mat-label>Connect</mat-label>
          <mat-select [disabled]="ports.length < 1" [value]="portSelect" (valueChange)="openPort($event)">
            <mat-option mat-option *ngFor="let port of ports" [value]="port">{{ port.path }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn-reload" mat-stroked-button (click)="getPorts()">
          Reload
        </button>
      </div>

      <mat-checkbox class="example-margin" [(ngModel)]="autoReadStatus" (ngModelChange)="changeAutoReadStatus()">Auto
        Read
        Status</mat-checkbox>
    </div>

    <hr>

    <div class="flex">
      <div class="leds">
        <div *ngFor="let ledSwitch of ledSwitches; let index = index" class="led">
          <label>L{{index+1}}</label>
          <div [ngClass]="ledSwitch.value ? 'active' :'' "></div>
        </div>
      </div>

      <div class="switch">
        <div *ngFor="let ledSwitch of ledSwitches; let index = index">
          <label>L{{index+1}}</label>
          <mat-slide-toggle [disabled]="ledSwitch.disabled" [checked]="ledSwitch.value" (change)="changeLedStatus($event, index)"></mat-slide-toggle>
        </div>
      </div>

    </div>

    <hr>

    <div class="flex footer">
      <div class="grafico">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi">
        </ngx-charts-line-chart>
      </div>
      <div class="logs-content">
        <label>Log Status</label>
        <div class="logs">
          <small *ngFor="let log of getLogs">{{log}}</small>
        </div>
      </div>
    </div>
  </div>

</main>