/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f2f2f2;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ngx-charts-chart {
    div {
        width: 100%!important;
    }
}

.header {
    .mat-form-field-wrapper {
        padding-bottom: 5px;
    }
}